@model HRM.ERP.Models.HRM.Skill
@{
    ViewData["Title"] = "Add Skill";
    Layout = "_LayoutAdmin";
}

<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Elite admin</p>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    @await Html.PartialAsync("_LayoutAdminHeader")
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    @await Html.PartialAsync("_LayoutAdminAside")
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Over Visitor, Our income , slaes different and  sales prediction -->
            <!-- ============================================================== -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Skill</h4>
                        <h6 class="card-subtitle">fill in correct information</h6>
                        <form class="form-horizontal p-t-20" asp-action="Create" asp-controller="Skills" method="post">

                            <div asp-validation-summary="All"></div>

                            @*<div  class="form-group">
                                <label asp-for="ApplicationUserId" class="control-label"></label>
                                <input asp-for="ApplicationUserId" class="form-control" />
                                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
                            </div>*@

                            <div class="form-group row">
                                <label for="exampleInputuname3" class="col-sm-3 control-label">Institution*</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend"></div>
                                        <input type="text" class="form-control" asp-for="Institution" placeholder="Institution" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="exampleInputuname3" class="col-sm-3 control-label">Year*</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend"></div>
                                        <input type="text" class="form-control" asp-for="Year" placeholder="Year" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="exampleInputuname3" class="col-sm-3 control-label">Qualification Obtained*</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend"></div>
                                        <input type="text" class="form-control" asp-for="QualificationObtained" placeholder="Qualification Obtained" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="exampleInputuname3" class="col-sm-3 control-label">Level*</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend"></div>
                                        <input type="text" class="form-control" asp-for="Level" placeholder="Level" required>
                                    </div>
                                </div>
                            </div>

                            @*<div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Status*</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <div class="input-group-prepend"></div>
                    <select asp-for="Status" class="form-control">
                        <option>Active</option>
                        <option>Pending</option>
                    </select>
                </div>
            </div>
        </div>*@

                            @*<div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                <label class="custom-control custom-checkbox m-b-0">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-label">Check me out !</span>
                </label>
            </div>
        </div>*@

                            <hr />
                            <div class="form-group row m-b-0">
                                <div class="offset-sm-3 col-sm-9">
                                    <button type="submit" class="btn btn-success waves-effect waves-light">Add Skills</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>


            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }


            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
