@model HRM.ERP.Models.HRM.Leave

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

<h4>Leave</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LeaveTitle" class="control-label"></label>
                <input asp-for="LeaveTitle" class="form-control" />
                <span asp-validation-for="LeaveTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveStartDate" class="control-label"></label>
                <input asp-for="LeaveStartDate" class="form-control" />
                <span asp-validation-for="LeaveStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveEndDate" class="control-label"></label>
                <input asp-for="LeaveEndDate" class="form-control" />
                <span asp-validation-for="LeaveEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveApprovedDate" class="control-label"></label>
                <input asp-for="LeaveApprovedDate" class="form-control" />
                <span asp-validation-for="LeaveApprovedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsApproved" disabled /> @Html.DisplayNameFor(model => model.IsApproved)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
