@model HRM.ERP.Models.AccountViewModels.RegisterViewModel
@{
  ViewData["Title"] = "Add User";
  Layout = "~/Views/Shared/_LayoutLandingPage.cshtml";
}

<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Elite admin</p>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    @await Html.PartialAsync("_LayoutLandingPageHeader")
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    @await Html.PartialAsync("_LayoutLandingPageAside")
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Over Visitor, Our income , slaes different and  sales prediction -->
            <!-- ============================================================== -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add New User</h4>
                        <h6 class="card-subtitle">fill in correct information</h6>
                        <form class="form-horizontal p-t-20" asp-action="AddUser" asp-controller="Users" method="post">

                            <div asp-validation-summary="All"></div>
                            <div class="form-group row">
                                <label for="exampleInputuname3" class="col-sm-3 control-label">User Role*</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend"></div>
                                        <select asp-for="UserRole" class="form-control" required>
                                          <option>Super Admin</option>
                                          <option>Admin</option>
                                          <option>User</option>
                                          <option>Employee</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="exampleInputuname3" class="col-sm-3 control-label">User Name*</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend"></div>
                                        <input type="text" class="form-control" asp-for="Usernames" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group row">
                                <label for="exampleInputuname3" class="col-sm-3 control-label">Employee Name*</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend"></div>
                                        <input type="text" class="form-control" asp-for="EmployeeName" placeholder="" required>
                                    </div>
                                </div>
                            </div>*@
                            <div class="form-group row">
                                <label for="exampleInputuname3" class="col-sm-3 control-label">Phone Number*</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend"></div>
                                        <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="exampleInputuname3" class="col-sm-3 control-label">Email*</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend"></div>
                                        <input type="Email" class="form-control" asp-for="Email" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="exampleInputuname3" class="col-sm-3 control-label">Password*</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend"></div>
                                        <input type="password" class="form-control" asp-for="Password" placeholder="" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="exampleInputuname3" class="col-sm-3 control-label">Confirm Password*</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend"></div>
                                        <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="">
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group row">
                                <label for="exampleInputuname3" class="col-sm-3 control-label">Status*</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend"></div>
                                        <select asp-for="Status" class="form-control">
                                            <option>Active</option>
                                            <option>Pending</option>
                                        </select>
                                    </div>
                                </div>
                            </div>*@

                            @*<div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <label class="custom-control custom-checkbox m-b-0">
                                            <input type="checkbox" class="custom-control-input">
                                            <span class="custom-control-label">Check me out !</span>
                                        </label>
                                    </div>
                                </div>*@

                            <hr />
                            <div class="form-group row m-b-0">
                                <div class="offset-sm-3 col-sm-9">
                                    <button type="submit" class="btn btn-success waves-effect waves-light">Create Users</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

