@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
  var user = await UserManager.GetUserAsync(User);
}
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- User Profile-->
    <div class="user-profile">
      <div class="user-pro-body">
        @*<div><img src="~/assets/images/users/2.jpg" alt="user-img" class="img-circle"></div>*@
        <div class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle u-dropdown link hide-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @user.UserName <span class="caret"></span></a>
          @*<div class="dropdown-menu animated flipInY">
                <!-- text-->
                <a href="javascript:void(0)" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                <!-- text-->
                <a href="javascript:void(0)" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                <!-- text-->
                <a href="javascript:void(0)" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                <!-- text-->
                <div class="dropdown-divider"></div>
                <!-- text-->
                <a href="javascript:void(0)" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                <!-- text-->
                <div class="dropdown-divider"></div>
                <!-- text-->
                <a href="pages-login.html" class="dropdown-item"><i class="fas fa-power-off"></i> Logout</a>
                <!-- text-->
            </div>*@
        </div>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        @*<li class="nav-small-cap">--- ADMIN</li>*@

        @*<li>
          <a class="waves-effect waves-dark" asp-action="Index" asp-controller="Home" aria-expanded="false"><i class="ti-home"></i><span class="hide-menu">Home</span></a>

        </li>*@
        <li>
          <a class="waves-effect waves-dark" asp-action="Dashboard" asp-controller="Admin" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Dashboard</span></a>

        </li>

        @*<li>
            <a class="waves-effect waves-dark" asp-action="Index" asp-controller="Users" aria-expanded="false"><i class="ti-user"></i><span class="hide-menu">User Management</span></a>

          </li>*@
        <li>
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-palette"></i><span class="hide-menu">Employee Profile </span></a>

          <ul aria-expanded="false" class="collapse">
              @*<li><a asp-action="create" asp-controller="Organisations">Organisation</a></li>*@
              <li><a asp-action="Index" asp-controller="Branches">Bio-Data</a></li>
              <li><a asp-action="Index" asp-controller="Departments">Qaulification</a></li>
              <li><a asp-action="IndexScaffold" asp-controller="Departments">Skills</a></li>
              <li><a asp-action="Structure" asp-controller="Organization">Languages</a></li>
              <li><a asp-action="Structure" asp-controller="Organization">Employee Details</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-email"></i><span class="hide-menu">Leave</span></a>
          @*<ul aria-expanded="false" class="collapse">
            <li><a asp-action="Index" asp-controller="Jobs">Job Roles</a></li>
            <li><a asp-action="Index" asp-controller="JobTitles">Job Title</a></li>
            <li><a asp-action="Index" asp-controller="ContractTypes">Contract Types</a></li>
            <li><a asp-action="Index" asp-controller="PayGrades">Pay Grades</a></li>
            <li><a asp-action="Index" asp-controller="PayGrades">Pay Grades</a></li>
            <li><a asp-action="Index" asp-controller="EmploymentStatus">Employment Status</a></li>
          </ul>*@
        </li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-accordion-merged"></i><span class="hide-menu">Appraisal</span></a>
          @*<ul aria-expanded="false" class="collapse">
            <li><a asp-action="Index" asp-controller="Vacancies">Vacanies</a></li>
            <li><a asp-action="Index" asp-controller="Candidates">Candidates</a></li>
          </ul>*@
        </li>

        <li>
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-palette"></i><span class="hide-menu">Pay Slip</span></a>
          @*<ul aria-expanded="false" class="collapse">
            <li><a asp-action="Index" asp-controller="Employees">Employees</a></li>
            <li>
              <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-bookmark"></i><span class="hide-menu">Qualifications</span></a>
              <ul aria-expanded="false" class="collapse">
                <li><a asp-action="Index" asp-controller="Educations">Education</a></li>
                <li><a asp-action="Index" asp-controller="Skills">Skill</a></li>
                <li><a asp-action="Index" asp-controller="Languages">Language</a></li>
              </ul>
            </li>
            <li><a asp-action="Index" asp-controller="Leaves">Leaves</a></li>
            <li><a asp-action="Reports" asp-controller="PIM">Reports</a></li>
          </ul>*@
        </li>

        @*<li>
          <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-accordion-merged"></i><span class="hide-menu">Payroll</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a asp-action="Index" asp-controller="Payroll">Generate</a></li>
            <li><a asp-action="History" asp-controller="Payroll">History</a></li>
            <li><a asp-action="Index" asp-controller="CreditDebits">Credit/Debit</a></li>
            <li><a asp-action="Settings" asp-controller="Payroll">Settings</a></li>
          </ul>
        </li>*@

        @*<li class="nav-small-cap">--- EXTRA COMPONENTS</li>*@

        @if (SignInManager.IsSignedIn(User))
        {


          <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <li>

              @*<a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>*@
              <a class="waves-effect waves-dark" aria-expanded="false">
                <i class="far fa-lock text-success"></i>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>

                @*<span type="submit" class="hide-menu">Log Out</span>*@
              </a>

            </li>

          </form>
        }
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->