@model HRM.ERP.Models.ACC.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAccountAdmin.cshtml";
}

<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
  <div class="loader">
    <div class="loader__figure"></div>
    <p class="loader__label">Elite admin</p>
  </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  @await Html.PartialAsync("_LayoutAdminHeader")
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  @await Html.PartialAsync("_LayoutAccountAside")
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Over Visitor, Our income , slaes different and  sales prediction -->
      <!-- ============================================================== -->

      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add New Customer</h4>
            <h6 class="card-subtitle">fill in Customer information</h6>
            <div class="row">
              <div class="col-md-12">
                <form class="form-horizontal p-t-20" asp-action="Create" method="post">
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div asp-validation-summary="All"></div>

                  <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">Customer Name*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <input asp-for="CustomerName" class="form-control" placeholder="Customer Name" />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">E-mail*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <input asp-for="Email" class="form-control" placeholder="E-mail" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">Phone Number*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <input asp-for="Phone" class="form-control" placeholder="Enter Phone Number" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">Address*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <input asp-for="Address" class="form-control" placeholder="Enter Address" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                      </div>
                    </div>
                  </div>


                  <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">ZipCode*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <input type="text" asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">Country*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <select id="country" class="form-control" asp-for="Country" required><option value="@null">-- Country --</option></select>
                        <span asp-validation-for="Country" class="text-danger"></span>
                      </div>
                    </div>
                  </div>


                  <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">State*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <select id="region" class="form-control" asp-for="State" required><option value=@null>-- State --</option></select>
                        <span asp-validation-for="State" class="text-danger"></span>
                      </div>
                    </div>
                  </div>


                  <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">City*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <select id="city" class="form-control" asp-for="City" required><option value="@null">-- City --</option></select>
                        <span asp-validation-for="City" class="text-danger"></span>
                      </div>
                    </div>
                  </div>


                  <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">Bank Name*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <input asp-for="BankName" class="form-control" placeholder="Enter Bank Name" />
                        <span asp-validation-for="BankName" class="text-danger"></span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">Account Name*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <input asp-for="AccountName" class="form-control" placeholder="Enter Account Name" />
                        <span asp-validation-for="AccountName" class="text-danger"></span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">Account Number*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <input asp-for="AccountNumber" class="form-control" placeholder="Enter Account Number" />
                        <span asp-validation-for="AccountNumber" class="text-danger"></span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">Bank Sort Code*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <input asp-for="SortCode" class="form-control" placeholder="Enter Sort Code" />
                        <span asp-validation-for="SortCode" class="text-danger"></span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">Website*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <input asp-for="Website" class="form-control" placeholder="Enter Website" />
                        <span asp-validation-for="Website" class="text-danger"></span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">Mobile Number*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <input asp-for="Mobile" class="form-control" placeholder="Enter Mobile Number" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">Status*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <select asp-for="Status" class="form-control">
                          <option>-- Select Status --</option>
                          <option>Active</option>
                          <option>Pending</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                      </div>
                    </div>
                  </div>




                  @*<div class="form-group row">
                    <label for="exampleInputuname3" class="col-sm-3 control-label">Organisation Id*</label>
                    <div class="col-sm-9">
                      <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <select asp-for="OrganisationId" class="form-control" asp-items="ViewBag.OrganisationId"></select>
                      </div>
                    </div>
                  </div>*@

                  <hr />
                  <div class="form-group row m-b-0">
                    <div class="offset-sm-3 col-sm-9">
                      <button type="submit" class="btn btn-success waves-effect waves-light">Create Customer</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
  $(document).ready(function () {
    //-------------------------------SELECT CASCADING-------------------------//
    var selectedCountry = selectedRegion = selectedCity = countryCode = "";
    // This is a demo API key for testing purposes. You should rather request your API key (free) from http://battuta.medunes.net/
    var BATTUTA_KEY = "00000000000000000000000000000000";
    // Populate country select box from battuta API
    url =
      "http://battuta.medunes.net/api/country/all/?key=" +
      BATTUTA_KEY +
      "&callback=?";
    // EXTRACT JSON DATA.
    $.getJSON(url, function (data) {
      $.each(data, function (index, value) {
        // APPEND OR INSERT DATA TO SELECT ELEMENT. Set the country code in the id section rather than in the value.
        $("#country").append(
          '<option id="' + value.code + '" value="' + value.code + '">' + value.name + "</option>"
        );
      });
    });
    // Country selected --> update region list .
    $("#country").change(function () {
      selectedCountry = this.options[this.selectedIndex].text;
      countryCode = $(this).children(":selected").attr("id");
      url =
        "http://battuta.medunes.net/api/region/" +
        countryCode +
        "/all/?key=" +
        BATTUTA_KEY +
        "&callback=?";
      $.getJSON(url, function (data) {
        $("#region option").remove();
        $.each(data, function (index, value) {
          // APPEND OR INSERT DATA TO SELECT ELEMENT.
          $("#region").append(
            '<option value="' + value.region + '">' + value.region + "</option>"
          );
        });
      });
    });
    // Region selected --> updated city list
    $("#region").on("change", function () {
      selectedRegion = this.options[this.selectedIndex].text;
      // Populate country select box from battuta API
      region = $("#region").val();
      url =
        "http://battuta.medunes.net/api/city/" +
        countryCode +
        "/search/?region=" +
        region +
        "&key=" +
        BATTUTA_KEY +
        "&callback=?";
      $.getJSON(url, function (data) {
        $("#city option").remove();
        $.each(data, function (index, value) {
          // APPEND OR INSERT DATA TO SELECT ELEMENT.
          $("#city").append(
            '<option value="' + value.city + '">' + value.city + "</option>"
          );
        });
      });
    });
    // city selected --> update location string
    $("#city").on("change", function () {
      selectedCity = this.options[this.selectedIndex].text;
      $("#location").html(
        "Locatation: Country: " +
        selectedCountry +
        ", Region: " +
        selectedRegion +
        ", City: " +
        selectedCity
      );
    });

  });
  // process form
  function processForm() {
    var username = password = country = region = city = '';
    username = $('#username').val();
    password = $('#password').val();
    country = $('#country').val();
    region = $('#region').val();
    city = $('#city').val();
    if (username != '' && password != '' && country != '' && region != '' && city != '') {
      $("#location").html(
        "Username: " + username +
        " /Password: " + password +
        " /Locatation: Country: " +
        country +
        ", Region: " +
        region +
        ", City: " +
        city
      );
    } else {
      $("#location").html('Complete Form 1st');
      return false;
    }
  }
</script>







@*<h2>Create</h2>

  <h4>Employee</h4>
  <hr />
  <div class="row">
      <div class="col-md-4">
          <form asp-action="Create">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="form-group">
                  <label asp-for="ApplicationUserId" class="control-label"></label>
                  <input asp-for="ApplicationUserId" class="form-control" />
                  <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="FirstName" class="control-label"></label>
                  <input asp-for="FirstName" class="form-control" />
                  <span asp-validation-for="FirstName" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="LastName" class="control-label"></label>
                  <input asp-for="LastName" class="form-control" />
                  <span asp-validation-for="LastName" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="MiddleName" class="control-label"></label>
                  <input asp-for="MiddleName" class="form-control" />
                  <span asp-validation-for="MiddleName" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="EmployeeId" class="control-label"></label>
                  <input asp-for="EmployeeId" class="form-control" />
                  <span asp-validation-for="EmployeeId" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="Photograph" class="control-label"></label>
                  <input asp-for="Photograph" class="form-control" />
                  <span asp-validation-for="Photograph" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="Status" class="control-label"></label>
                  <input asp-for="Status" class="form-control" />
                  <span asp-validation-for="Status" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="DOB" class="control-label"></label>
                  <input asp-for="DOB" class="form-control" />
                  <span asp-validation-for="DOB" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="Nationality" class="control-label"></label>
                  <input asp-for="Nationality" class="form-control" />
                  <span asp-validation-for="Nationality" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="Gender" class="control-label"></label>
                  <input asp-for="Gender" class="form-control" />
                  <span asp-validation-for="Gender" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="MaritalStatus" class="control-label"></label>
                  <input asp-for="MaritalStatus" class="form-control" />
                  <span asp-validation-for="MaritalStatus" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="Address" class="control-label"></label>
                  <input asp-for="Address" class="form-control" />
                  <span asp-validation-for="Address" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="MobileNo" class="control-label"></label>
                  <input asp-for="MobileNo" class="form-control" />
                  <span asp-validation-for="MobileNo" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="WorkTelephone" class="control-label"></label>
                  <input asp-for="WorkTelephone" class="form-control" />
                  <span asp-validation-for="WorkTelephone" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="Email" class="control-label"></label>
                  <input asp-for="Email" class="form-control" />
                  <span asp-validation-for="Email" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="AccountNo" class="control-label"></label>
                  <input asp-for="AccountNo" class="form-control" />
                  <span asp-validation-for="AccountNo" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="AccountType" class="control-label"></label>
                  <input asp-for="AccountType" class="form-control" />
                  <span asp-validation-for="AccountType" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="SortCode" class="control-label"></label>
                  <input asp-for="SortCode" class="form-control" />
                  <span asp-validation-for="SortCode" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="contractType" class="control-label"></label>
                  <input asp-for="contractType" class="form-control" />
                  <span asp-validation-for="contractType" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="JoinDate" class="control-label"></label>
                  <input asp-for="JoinDate" class="form-control" />
                  <span asp-validation-for="JoinDate" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="DateCreated" class="control-label"></label>
                  <input asp-for="DateCreated" class="form-control" />
                  <span asp-validation-for="DateCreated" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="DateUpdated" class="control-label"></label>
                  <input asp-for="DateUpdated" class="form-control" />
                  <span asp-validation-for="DateUpdated" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <label asp-for="DateModified" class="control-label"></label>
                  <input asp-for="DateModified" class="form-control" />
                  <span asp-validation-for="DateModified" class="text-danger"></span>
              </div>
              <div class="form-group">
                  <div class="checkbox">
                      <label>
                          <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                      </label>
                  </div>
              </div>
              <div class="form-group">
                  <input type="submit" value="Create" class="btn btn-default" />
              </div>
          </form>
      </div>
  </div>

  <div>
      <a asp-action="Index">Back to List</a>
  </div>*@


